/* errores */


.error_campo{
    border-color: red;
    outline-color: red;
    background-color: yellow;
    
}

.ok_campo{
    border-color: black;
    outline-color: black;
    background-color: white;
}

#msje_rut, #msje_nom, #msje_ape, #msje_emp, #msje_sec, #msje_pat, #msje_obs{
    color: red;
}


/* 
.error_rut > input::placeholder{
    color: red;

} */